<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Music Playlist Manager</title>
</head>
<body>
  <h1>Music Playlist Manager</h1>
  <ul>
    <ul>
    <li><a href="/users">Users</a></li>
    <li><a href="/artists">Artists</a></li>
    <li><a href="/songs">Songs</a></li>
    <li><a href="/playlists">Playlists</a></li>
    <li><a href="/playlistsong">Playlist → Song</a></li>
    <li><a href="/usersong">User → Song</a></li>
    <li><a href="/artistsong">Artist → Song</a></li>
  </ul>

  </ul>
</body>
</html>
