<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Music Playlist Manager</title>
</head>
<body>
  <h1>Music Playlist Manager</h1>
  <ul>
    <li><a href="/songs/add">Add a New Song</a></li>
    <li><a href="/playlists/add">Add a New Playlist</a></li>
    <li><a href="/users/add">Add a New User</a></li>
    <li><a href="/artists/add">Add a New Artist</a></li>
    <li><a href="/songs">View All Songs</a></li>
    <li><a href="/users">View Users</a></li>
    <li><a href="/playlists">View Playlists</a></li>
    <li><a href="/artists">View Artists</a></li>
  </ul>
</body>
</html>
